body{
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:  repeat(5,100px);
    place-content: center;
    gap: 15px;
}
div{
    background-color: red;
}
.kutu1{
    grid-column: 1/2;
}
.kutu2{
    grid-column: 2/3;
}
.kutu3{
    grid-column: 3/4;
}
.kutu4{
    grid-column: 4/5;
}
.kutu5{
    grid-row: 2/3;
    grid-column: 4/5;
}
.kutu6{
    grid-row: 3/4;
    grid-column: 3/4;
}
.kutu7{
    grid-row: 4/5;
    grid-column: 2/3;
}
.kutu8{
    grid-row: 5/6;
    grid-column: 1/2;
}